body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
table th {
  background-color: #cccccca1;
  font-size: 19px;
  color: #005d90;
}

table td {
  font-weight: bold;
}
