<html lang="en" ng-app="angularTable">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular.js"></script>
  <script src="../javascripts/index.js"></script>
  <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="../bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="../bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <form class="form-inline" style="text-align: center;">
    <div class="form-group">
      <input type="text" ng-model="search" class="form-control" size="60" id="search" placeholder="Type to instant search" style="font-size: large">
    </div>
  </form>
  <div class="container" style="width: 95%">
    <div id="MainWrap" class="bs-component" ng-controller="Tasks" data-ng-init="getTasks('status','ASC');">
      <div class="row">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="col-md-1" ng-click='sort("ID")'>#
                <span class="glyphicon sort-icon" ng-show="sortKey == 'ID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th class="col-md-1" ng-click='sort("courier")'>Courrier
                <span class='glyphicon sort-icon' ng-show="sortKey == 'courier'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th class="col-md-1">Driver Name
              </th>
              <th class="col-md-1" ng-click='sort("status")'>Task status
                <span class='glyphicon sort-icon' ng-show="sortKey == 'status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th class="col-md-1">Task Description
              </th>
              <th class="col-md-1" ng-click='sort("startedAt")'>Start Date
                <span class='glyphicon sort-icon' ng-show="sortKey == 'startedAt'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th class="col-md-1" ng-click='sort("finishedAt")'>Finished Date
                <span class='glyphicon sort-icon' ng-show="sortKey == 'finishedAt'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th class="col-md-1">Driver Comment
              </th>
            </tr>
          </thead>
          <tbody id="Tasks">
            <tr ng-repeat="task in tasks|filter:search|orderBy:sortKey:reverse">
              <td>{{task.ID}}</td>
              <td>{{task.courier}}</td>
              <td>{{task.driverName}}</td>
              <td>{{task.status}}<br/>
                <div ng-if='task.status == "pending"'>
                  <button type="button" class="btn btn-primary" ng-click='updateTasks(task.ID,"complated",task.status)'>Complated</button>
                  <button type="button" class="btn btn-primary" ng-click='updateTasks(task.ID,"failed",task.status)'>Failed</button>
                </div>
              </td>
              <td>{{task.description}}</td>
              <td>{{task.startedAt}}</td>
              <td>{{task.finishedAt}}</td>
              <td>{{task.driverComment}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</body>

</html>
